body {
	text-align: center;
	color: yellow;
	background-image: linear-gradient(blue, #B4DD1E);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100vh; /* This sets the height of the parent element to the full height of the viewport. */
}

a {
	color: yellow;
}
