.Hello {
	color: yellow;
	font-family: "Poetsen One";
	font-size: 50px;
	opacity: 1;
	transition: opacity 0.5;
}

.hello:hover {
	opacity: 0.5;
	cursor: pointer;
}

p {
	color: yellow;
}

a {
	color: yellow;
	border: 10px;
	border-radius: 10px;
	transition: font-size 0.3s;
	font-size: larger;
}

a:hover {
	font-size: 35px;
	cursor: pointer;
}

body {
	text-align: center;
	background-color: black;
	font-family: "Poetsen One";
	font-size: larger;
	background-image: linear-gradient(blue, pink);
}

.poetsen-one-regular {
	font-family: "Poetsen One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

button {
	background-color: yellow;
	color: yellow;
	cursor: pointer;
	padding: 10px;
	text-align: center;
	border-radius: 20px;
}

.navigationsection {
	position: fixed;
	top: 0;
	text-align: left;
}

iframe {
	border-radius: 20px;
}

.gamessection {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
}

.gameslisttitle {
	color: yellow;
	font-family: "Poetsen One";
	font-size: 35px;
}

.footer{
	color: blue;
	text-shadow: 10px;
}

/*dropdown menu stuff*/

.dropbtn{
	background-color: yellow;
	color: black;
	font-size: 20px;
	border: 1px solid yellow;
	border-radius: 10px;
	padding: 20px;
	font-family: cursive;
	transition: all .2s ease-in;
}

.dropdown {
	position: static;
	align-items: center;
	display: inline-block;
	border-radius: 10px;
	padding: 5px;
}

.dropdown-content {
	display: none;
	position: relative;
	background-color: yellow;
	min-width: 140px;
	border-radius: 10px;
	font-family: "Poetsen One";
}

.dropdown-content a {
	color: black;
	padding: 10px;
	display: block;
	transition: all .2s ease-in;
}

.dropdown-content a:hover {
	background-color: yellowgreen;
}

.dropdown:hover .dropdown-content {
	display: block;
	border: 1px;
	border-radius: 10px;
	padding: 10px;
}

.dropdown:hover .dropbtn {
	background-color: rgb(170, 255, 0);
	border-color: yellowgreen;
}
